= simple_form_for(@<%= singular_table_name %>, layout: :horizontal) do |f|
  .form-inputs
  <%- attributes.each do |attribute| -%>
    = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, class: 'form-control'
  <%- end -%>

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
